<section class="about__page">
    <h1 class="title">Rick and Morty GraphQl-App</h1>
    <div class="about__container">
        <p class="about__paragraph">Angular Project</p>
        <figure class="about__img">
            <img
                src="/assets/imgs/web_dev.svg"
                alt="web dev"
                class="about__picture"
                rel="preload"
                as="image"
                width="406"
                height="306"
            />
        </figure>
    </div>
    <p class="about__copy">
        Developed by <span class="text-white">Aanttrax</span>
    </p>
</section>
